<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kamiloinc.resmaconviiep">

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoapk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".VerTodosReportesMenu"
            android:exported="false" />
        <activity
            android:name=".VerReportesMenuDocentes"
            android:exported="false" />
        <activity
            android:name=".VerReportesDocentes"
            android:exported="false" />
        <activity
            android:name=".MenuVerReportes"
            android:exported="false" />
        <activity
            android:name=".VerReportes"
            android:exported="false" />
        <activity
            android:name=".ReportarAnonimo"
            android:exported="false" />
        <activity
            android:name=".SeleccionarAnioAnonimo"
            android:exported="false" />
        <activity
            android:name=".ReportarEstudiante"
            android:exported="false" />
        <activity
            android:name=".SeleccionarAnioEstudiante"
            android:exported="false" />
        <activity
            android:name=".SeleccionarAnioDocente"
            android:exported="false" />
        <activity
            android:name=".ReportarDocente"
            android:exported="false" />
        <activity
            android:name=".MenuFaltas"
            android:exported="false" />
        <activity
            android:name=".VerTipoDeFaltas"
            android:exported="false" />
        <activity
            android:name=".VerEstudiantes"
            android:exported="false" />
        <activity
            android:name=".MenuEstudiantes"
            android:exported="false" />
        <activity
            android:name=".VerDocentes"
            android:exported="false" />
        <activity
            android:name=".MenuReportes"
            android:exported="false" />
        <activity
            android:name=".Administrador"
            android:exported="false" />
        <activity
            android:name=".AgregarTiposDeFalta"
            android:exported="false" />
        <activity
            android:name=".AgregarEstudiantes"
            android:exported="false" />
        <activity
            android:name=".AgregarDocentes"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kamiloinc.resmaconviiep"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>